/*MENU OVERLAY*/
@media (max-width:1562px) {
    #menu-layer ul li a {font-size:22px;}
    #menu-layer ul li ul li a {font-size:16px;line-height:26px;}
}
@media (max-width:1124px) {#menu-layer ul li a {margin:0 40px;}}

@media (max-width:922px) {
    #menu-layer ul li a {font-size:18px;line-height:30px;}
    #menu-layer ul li ul li a {font-size:14px;line-height:22px;}
}
@media (max-width:722px) {
    #menu-layer .leftrow, #menu-layer .rightrow  {float:none;text-align:center;width:100%;border:0 none;}
    #menu-layer ul li a {margin:0;font-size:15px;font-weight:bold;line-height:24px;}
    #menu-layer ul li ul li a {font-size:13px;font-weight:300;line-height:22px;}
    #menu-layer ul li.deeper {margin:0;}
    header nav.mainmenu span.menu {display:none;}
    section#content h1 {font-size:35px;letter-spacing:-2.2px;}
    section#content.main .center {padding: 5px 30px 90px;}
}
@media (max-width:722px) and (orientation: landscape) {
    #menu-layer .leftrow {width:50%;border-right:2px solid #fff;text-align:right;float:left;}
    #menu-layer .rightrow {width:50%;text-align:left;float:left;}
}

@media (max-width:380px) {
    header {padding:15px 0;}
    header .logo a span.logotext {font-size:50px;}
    header .logo a span.logodesc {display:none;}
    header nav.mainmenu {padding-top:15px;}
}



/*THEMENÜBERSICHT*/
@media (max-width:1332px) {
    section#themen .box {width:50%;}
}
@media (max-width:872px) {
    section#themen .box {width:100%;}
    section#philosophie .center .box {width:50%;}
}

@media (min-width:1332px) and (max-width:1592px) {
    section#themen .box .themeinfo p {display:none;}
}


/*STARTSEITENCONTENT*/
@media (max-width:1330px) {
    section#content .center {padding-right:23%;}
    section#content p {width:60%;}
    section#content img.senol {right:0;}
}

@media (max-width:1200px) {
    section#content img.senol {right:-100px;}
    section#map {padding-bottom:50%;}
}

@media (max-width:900px) {
    section#content img.senol {display:none;}
    section#content .center {padding:140px 30px 115px 30px;}
    section#content p {width:100%;}
    section#philosophie .center h3 {padding-left:0;text-align:center;}
}

/*UNTERSEITENCONTENT*/
@media (max-width:930px) {
    section#content.main .center .heading {float:none;width:100%;margin-bottom:50px;}
    section#content.main .center .images {float:none;width:100%;padding:0;}
    .fancybox {float:left;width:50%;}
}
/*PHILOSOPHIE*/
@media (max-width:560px) {
    section#philosophie .center .box {width:100%;}
}

/*PARTNER*/
@media (max-width:1000px) {
    section#partner .center h3 {float:none;margin:0;text-align:center;margin-bottom:25px;}
    section#partner .center h3 i {display:none;}
    section#partner .center .box {float:none;padding:50px;}
    section#partner .center .box:last-child {padding-bottom:0;}
}

/*KONTAKT*/
@media (max-width:1466px) {
    section#kontakt .center .title, section#kontakt .center .email {margin-right:100px;}
}
@media (max-width:1186px) {
    section#kontakt .center .title, section#kontakt .center .email, section#kontakt .center .telefon {margin-right:0;float:none;text-align:center;margin-bottom:80px;}
    section#kontakt .center p {float:none;}
    section#kontakt .center .email i, section#kontakt .center .telefon i {float:none;margin-right:0;}
    section#kontakt .center .telefon {margin-bottom:0;}
}

/*FOOTER*/
@media (max-width:466px) {
    footer .center span span.seperator {display:none;}
    footer .center span span, footer .center span a {display:block;padding:10px 0;}
    section#themen .box .themeinfo p {padding:0 20px;}
    section#themen .box .themeinfo h2 {font-size:20px;margin-bottom:40px;}
    section#themen .box .themeinfo h2.duo {margin-bottom:20px;}
    section#themen .box .themeinfo p {font-size:14px;}
    section#themen .box:hover .themeinfo span {right:2px;}
    .button {font-size:14px;padding:10px;}
}






