* { -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing: border-box;
    margin:0;padding:0;border:0;outline:0;vertical-align:baseline;list-style:none outside none;text-decoration:none;}
body {font-family: 'Open Sans', sans-serif;font-size:18px;color:#25b0a7;font-weight:300;} html, body {max-width:100%;overflow-x:hidden;}
.clearfix:after {content: ".";display:block;height:0;clear:both;visibility:hidden;}

img {max-width:100% !important;vertical-align:middle;width:auto;}
button, input[type="email"], input[type="submit"], input[type="text"]  {font-family: 'Open Sans', sans-serif;}
button, input[type="radio"] {cursor:pointer;}
.button {cursor:pointer;display:block;text-transform:uppercase;padding:18px;color:#fff;font-size:21px;}

a {color:#25b0a7;}
b {font-weight:700;}
h2 {font-weight:300;font-size:32px;}
h3, section#philosophie .center .box p {font-weight:300;font-size:20px;letter-spacing:-1px;}
section p {line-height:35px;font-size:17px;}

.transition {transition:all .2s ease-out;-webkit-transition:all .2s ease-out;}
.box {float:left;text-align:center;}
/*---------------------------------------------------------------*/
.center {padding:0 30px;margin:0 auto;max-width:1460px;}
.vertical-align {position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}

header {padding:50px 0;background:#fff;}
header .logo {float:left;}
header .logo a span {display:block;}
header .logo a span.logotext {font-size:76px;font-weight:700;letter-spacing:-6px;line-height:70px;}
header .logo a span.logodesc {font-size:12px;font-weight:300;letter-spacing:-0.4px;padding-left:6px;}
header nav.mainmenu {position:relative;z-index:20;padding-top:20px;float:right;}
header nav.mainmenu a.trigger {padding:10px;height:40px;float:right;}
header nav.mainmenu span.menu {float:left;display:block;margin-right:20px;font-weight:300;font-size:16px;letter-spacing:-1px;}
header nav.mainmenu span.bars {display:block;float:left;padding:2px;}
header nav.mainmenu span.bar_1 {height:3px;width:27px;display:block;background:#25b0a7;margin-bottom:6px;}
header nav.mainmenu span.bar_2 {height:3px;width:27px;display:block;background:#25b0a7;margin-bottom:6px;}
header nav.mainmenu span.bar_3 {height:3px;width:27px;display:block;background:#25b0a7;}
header nav.mainmenu.open span.bar_1 {transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:9px;background:#fff;}
header nav.mainmenu.open span.bar_2 {opacity:0;background:#fff;}
header nav.mainmenu.open span.bar_3 {transform:rotate(-45deg);-webkit-transform:rotate(-45deg);margin-top:-18px;background:#fff;}
header nav.mainmenu.open span.menu {color:#fff;}

#menu-layer {overflow-y:auto;display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(48,177,172,0.9);z-index:15;text-transform:uppercase;}
#menu-layer .leftrow {width:50%;border-right:2px solid #fff;text-align:right;float:left;}
#menu-layer .rightrow {width:50%;text-align:left;float:left;}
#menu-layer ul li a {font-weight:300;font-size:38px;color:#fff;margin:0 110px;padding:0 10px;line-height:45px;}
#menu-layer ul li a:hover {background:#fff;color:#25b0a7;}
#menu-layer ul li.deeper {margin:15px 0;}
#menu-layer ul li ul li a {font-size:22px;line-height:32px;}

section#themen .box {width:33.33333333%;background-repeat:no-repeat;background-size:100%;background-position:top;color:#fff;background:#25b0a7;position:relative;overflow:hidden;}
section#themen .box img {width:100%;-webkit-transition:opacity 0.35s;transition:opacity 0.35s;}
section#themen .box:hover img  {opacity:0.25;}
section#themen .box a.biglink {transition:all .2s;transition-delay:0.5s 0s;position:absolute;height:0;width:0;top:0;left:0;text-indent:-9999px;}
section#themen .box:hover a.biglink {height:100%;width:100%;}
section#themen .box .themeinfo {position:absolute;top:0;left:0;width:100%;height:100%;}
section#themen .box .themeinfo h2 {text-transform:uppercase;font-size:26px;letter-spacing:-1px;width:100%;margin-bottom:50px;}
section#themen .box .themeinfo h2.duo {margin-bottom:35px;}
section#themen .box .themeinfo p {font-weight:300;font-size:16px;padding:0 100px;line-height:26px;letter-spacing:-1px;opacity:0;z-index:10;}
section#themen .box .themeinfo p a {font-weight:600;color:#fff;position:relative;z-index:9999999;}
section#themen .box .themeinfo p a:hover {text-decoration:underline;}
section#themen .box:hover .themeinfo h2, section#themen .box:hover .themeinfo p {opacity:1;top:35%;}
section#themen .box .themeinfo span {position:absolute;bottom:-150px;right:12px;z-index:5;}
section#themen .box:hover .themeinfo span {bottom:0;right:12px;}

section#content .center {padding:140px 370px 115px 30px;position:relative;}
section#content h1 {text-align:center;font-weight:300;font-size:49px;letter-spacing:-3.6px;line-height:50px;}
section#content h1 strong {font-size:28px;letter-spacing:-1.7px;font-weight:300;padding-left:7px;}
section#content hr {height:1px;background:#b3e3e0;width:20%;margin:50px auto 0;}
section#content p {width:55%;text-align:center;margin:50px auto 0;}
section#content p {width:55%;text-align:center;margin:50px auto 0;}
section#content img.senol {position:absolute;right:150px;top:0;}

section#content.main .center {padding:50px 30px 155px;position:relative;}
section#content.main .center .heading {float:left;width:60%;margin-bottom:35px;}
section#content.main .center .images {float:right;width:40%;padding:0 0 60px 100px;}

section#content.main h1 {text-align:left;}
section#content.main h2 {font-size:28px;letter-spacing:-1.5px;}
section#content.main hr {margin:40px 0 0;}
section#content.main p {width:100%;text-align:left;margin:34px 0 0;}
section#content.main h3 {margin-top:50px;font-size:22px;}
section#content.main .images img {display:block;}

section#content.main .content-links {background:#25b0a7;}
section#content.main .content-links ul.center {padding:30px;text-align:center;color:#fff;font-size:21px;letter-spacing:-1px;}
section#content.main .content-links ul.center li {display:inline;}
section#content.main .content-links ul.center li.content-links-sep {padding:0 50px;}
section#content.main .content-links ul.center li.content-links-a:after {font-family: FontAwesome;content: "\f104";margin-left:10px;}
section#content.main .content-links ul.center li.content-links-b:before {font-family: FontAwesome;content: "\f105";margin-right:10px;}
section#content.main .content-links ul.center li a {color:#fff;}
section#content.main .content-links ul.center li a:hover {border-bottom:1px solid #b3e3e0;padding-bottom:2px;}
section#content.main .content-links ul.center li span {color:#fff;}

section#philosophie {background:#25b0a7;}
section#philosophie .center {color:#fff;padding:115px 30px;}
section#philosophie .center h3 {padding-left:290px;letter-spacing:-1.6px;font-size:31px;}
section#philosophie .center .box {text-transform:uppercase;padding:85px 50px 0;}
section#philosophie .center .box i {font-size:34px;margin-bottom:60px;}

section#partner {background:#238881;}
section#partner .center {color:#fff;padding:95px 30px;}
section#partner .center h3 {float:left;margin-top:18px;margin-right:40px;}
section#partner .center h3 i {margin-left:10px;}
section#partner .center .box {float:left;}
section#partner .center .box img {width:200px;}

section#kontakt {background:#4c4c4c;}
section#kontakt .center {color:#fff;padding:65px 30px;}
section#kontakt .center .title {float:left;margin-right:200px;}
section#kontakt .center .title h3 {margin-bottom:5px;}
section#kontakt .center p {font-size:15px;color:#d2d2d2;float:left;line-height:20px;}
section#kontakt .center .email {float:left;margin-right:200px;margin-top:12px;}
section#kontakt .center .email i {float:left;font-size:47px;margin-right:30px;line-height:44px;}
section#kontakt .center .email a {display:block;color:#fff;}
section#kontakt .center .telefon {float:left;margin-top:12px;}
section#kontakt .center .telefon i {float:left;font-size:64px;margin-right:30px;line-height:48px;}
section#kontakt .center .telefon a {display:block;color:#fff;}
section#kontakt .center a:hover {color:#b3e3e0;}


section#map {position:relative;padding-bottom:20%;height:0;overflow:hidden;}
section#map iframe {position:absolute;top:0;left:0;width:100%;height:100%;}
    .gmnoprint img {max-width:none !important;}

footer {}
footer .center {padding:20px 30px;text-align:center;}
footer .center span {letter-spacing:-1.6px;}
footer .center span span.seperator {padding:0 25px;}

#content .icons {
    display: none;
}


/*Später rausnehmen*/
section#content.main strong {font-weight:700;}
section#content.main .center .heading {float:none;width:100%;}










